<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--告诉浏览器响应屏幕尺寸 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/Resources/favicon.ico">
    <title>@ViewBag.Title -后台管理</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script type="text/javascript">
    (function() {
        var $confirm;
        $confirm = null;
        $(function() {
            $("input[type=\"checkbox\"], input[type=\"radio\"]").bootstrapSwitch();
            return $confirm = $("#confirm").bootstrapSwitch({
                size: "large",
                onSwitchChange: function(event, state) {
                    event.preventDefault();
                    return console.log(state, event.isDefaultPrevented());
                }
            });
        });
    }).call(this);
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{string name = "";
                    try
                    {
                        KB.Models.tb_Admin adm = new KB.BLL.AdminService().Find(Convert.ToInt32(Session["UID"]));
                        name = adm.AdName;
                        Session["Cname"] = name;
                    }
                    catch
                    {

                    }
                     }
                @Html.ActionLink(name+"的后台管理", "Index", "Home", new { area = "Customer" }, new { @class = "navbar-brand " })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li>@Html.ActionLink("会员管理", "UserManage", "Home")</li>
                   <li>@Html.ActionLink("游戏管理", "Index", "GameC")</li>
                   <li>@Html.ActionLink("盈利分析", "Index", "Gains")</li>
                   <li>@Html.ActionLink("日志管理", "Index", "Log")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - name的后台管理</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>