@model KB.Models.tb_Root

@{
    ViewBag.Title = "Message";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>编辑</h2>

@using (Html.BeginForm("Message", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.RoName</h4>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>@TempData["message"]</strong></div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RoID)

        <div class="form-group">
            @Html.LabelFor(model => model.RoName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @{ 
        string name=Session["UID"].ToString();
        KB.Models.tb_Root root = new KB.BLL.RootService().Find(name);
    }
    @if (root.RoID == 1)
    {
        @Html.ActionLink("返回账号管理", "Account")
    }
</div>
